################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/daniil/.vs/daniil/DesignTimeBuild
