################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/daniil/.vs/daniil/DesignTimeBuild
/daniil/daniil/bin/x64
/daniil/daniil/obj/x64/Debug/netcoreapp3.1
